*{
    box-sizing: border-box;
  
    
    
  font-family: Arial, Helvetica, sans-serif;

}
body { /*body of pages*/
    margin-left: 50px;
    margin-right: 50px;
   background-color: #F4F3EE;
}

.header { /*breaking bad fans header*/
    font-family: inherit;
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px
}

#Logo { /*breaking bad logo*/
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

hr.underline {
    border: 2px solid black;
    border-radius: 5px;
}

.container{
    display: flex;
}

.container section {
    flex: 1;
    border: 0.3rem;
    padding: 1rem;
    background-color: #dfdfdf;
    justify-content: flex-start;
}

.flexbox-text { /*text inside flexboxes*/
    text-align: center;
    font-family: sans-serif;
    background-color: #dfdfdf;
}

h2{
    font-family: sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    background-color:  #70665e;
    color: white;
    
}




a.weblink {
    color: #bda37d;
}

a.weblink:link{
    color:#bda37d;
    text-decoration: none;
}

a.weblink:visited {
    color: rebeccapurple;
    text-decoration: none;
}

a.weblink:hover {
    color: indianred;
    text-decoration: none;
}

a.weblink:active {
    color: red;
    text-decoration: none;
}






.site-footer {
  background-color:  #bda37d;;
	text-align: left;
}

#social-wrapper {
	text-align: left;
}

/*Social Media Icons*/
.social-wrapper {
	text-align: right;
}

.social-wrapper ul li {
	display: inline;
	margin: 0 5px;
}


.facebook-icon,
.instagram-icon,
.foursquare-icon{
	margin-top: .625em;
	width: 40px;
	height: 40px;
	opacity: .6;
  border-radius: 25px;
}

.footer-nav p {
	text-align: left;
}


